<?xml version="1.0" encoding="utf-8"?>
<robot name="wsg50">
  <link name="wsg50_gripper_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://blender_models/wsg_description/meshes/wsg50_110.obj" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.146 0.0725 0.05"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 -0.03625 0.0"/>
    </collision>
  </link>
</robot>
