<?xml version="1.0" encoding="utf-8"?>
<robot name="tri_finray_gripper">
  <material name="black">
    <color rgba="0.0 0.0 0.0 0.1"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.1 0.1 0.8 1.0"/>
  </material>
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <link name="finger_holder_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://blender_models/tri_finray_gripper/meshes/wsg50_mount - finger_holder_left.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.04 0.06979999499999999 0.038"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="-0.02 -0.11160000249999999 0.0"/>
    </collision>
  </link>
  <link name="finger_holder_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://blender_models/tri_finray_gripper/meshes/wsg50_mount - finger_holder_right.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.04 0.06979999499999999 0.038"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.02 -0.11160000249999999 0.0"/>
    </collision>
  </link>
  <link name="soft_finger_left">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://blender_models/tri_finray_gripper/meshes/soft_gripper_finger.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.039999924 0.025800001000000003 0.123364487"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.019999962 -0.012900000500000001 -0.0616822435"/>
    </collision>
  </link>
  <link name="soft_finger_right">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://blender_models/tri_finray_gripper/meshes/soft_gripper_finger.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.039999924 0.025800001000000003 0.123364487"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.019999962 -0.012900000500000001 -0.0616822435"/>
    </collision>
  </link>
  <joint name="base_to_left_holder" type="fixed">
    <parent link="base_link"/>
    <child link="finger_holder_left"/>
    <origin rpy="0 0 0" xyz="-0.03 0.08 0"/>
  </joint>
  <joint name="base_to_right_holder" type="fixed">
    <parent link="base_link"/>
    <child link="finger_holder_right"/>
    <origin rpy="0 0 0" xyz="0.03 0.08 0"/>
  </joint>
  <joint name="left_holder_to_finger" type="fixed">
    <parent link="finger_holder_left"/>
    <child link="soft_finger_left"/>
    <origin rpy="-1.57 3.14 0" xyz="0.0 -0.1 0.012"/>
  </joint>
  <joint name="right_holder_to_finger" type="fixed">
    <parent link="finger_holder_right"/>
    <child link="soft_finger_right"/>
    <origin rpy="-1.57 0 0" xyz="0.0 -0.1 -0.012"/>
  </joint>
</robot>
